In [1]:
import numpy as np
import pandas as pd
import os

Place whole submissions you want process in subs/

In [2]:
root = "subs"
names = os.listdir(root)
print(f"Count of files : {len(names)}")
datas = []
for i in names:
    temp = pd.read_csv(f"{root}/{i}")
    temp["id_3"] = temp[['id_1','id_2']].apply(min, axis=1)
    temp["id_4"] = temp['id_1'] + temp['id_2'] - temp['id_3']
    datas.append(temp[["id_3", "id_4"]])

Count of files : 42

id_3 is min, id_4 is max, to prevent dublicates

In [3]:
concating = (datas[0]["id_3"].astype("str") + " " + datas[0]["id_4"].astype("str")).reset_index()
for i in range(len(datas)):
    data = datas[i]["id_3"].astype("str") + " " + datas[i]["id_4"].astype("str")
    concating = concating.append(data.reset_index())
    print(f"Processed {i+1}/{len(datas)}")

Processed 1/42
Processed 2/42
Processed 3/42
Processed 4/42
Processed 5/42
Processed 6/42
Processed 7/42
Processed 8/42
Processed 9/42
Processed 10/42
Processed 11/42
Processed 12/42
Processed 13/42
Processed 14/42
Processed 15/42
Processed 16/42
Processed 17/42
Processed 18/42
Processed 19/42
Processed 20/42
Processed 21/42
Processed 22/42
Processed 23/42
Processed 24/42
Processed 25/42
Processed 26/42
Processed 27/42
Processed 28/42
Processed 29/42
Processed 30/42
Processed 31/42
Processed 32/42
Processed 33/42
Processed 34/42
Processed 35/42
Processed 36/42
Processed 37/42
Processed 38/42
Processed 39/42
Processed 40/42
Processed 41/42
Processed 42/42

In [4]:
concating.columns = ["ind","id_1 + id_2"]

Sorting all edges by their occurrence

In [5]:
sorted_edges = concating.groupby("id_1 + id_2").count().sort_values('ind', ascending=False).head(100000)

In [6]:
sorted_edges["name"] = sorted_edges.index

In [7]:
sorted_edges["id_1"] = sorted_edges["name"].agg([lambda x: x.split()[0]])
sorted_edges["id_2"] = sorted_edges["name"].agg([lambda x: x.split()[1]])

In [8]:
sorted_edges

                 ind             name     id_1     id_2
id_1 + id_2
316963 640944     43    316963 640944   316963   640944
166977 524354     43    166977 524354   166977   524354
640944 1286352    43   640944 1286352   640944  1286352
122248 1292275    43   122248 1292275   122248  1292275
524354 932566     43    524354 932566   524354   932566
...              ...              ...      ...      ...
431253 524354     13    431253 524354   431253   524354
424301 1292407    13   424301 1292407   424301  1292407
41216 1235915     13    41216 1235915    41216  1235915
1049158 1301544   13  1049158 1301544  1049158  1301544
842652 929264     13    842652 929264   842652   929264

[100000 rows x 4 columns]

Saving in directory

In [9]:
sorted_edges[["id_1", "id_2"]].to_csv('submission_blood_mixed.csv', index = False)